<!-- templates/holiday/next_holiday.html -->
 {% load static %}
{% load i18n %}
<div class="oh-dasboard__event-details">
  <span class="oh-dashboard__event-title">{% trans "Next Holiday" %}</span>
  {% if next_holiday %}
  <span class="oh-dashboard__event-main">{{ next_holiday.name }}</span>
  <span class="dateformat_changer oh-dashboard__event-date"
    >{{ next_holiday.start_date }}</span
  >
  {% else %}
  <span class="oh-dashboard__event-main">{% trans "None" %}</span>
  <span class="dateformat_changer oh-dashboard__event-date">-</span>
  {% endif %}
</div>
