{% load static %}
{% load i18n %}
<div id="multCompany" class="oh-dropdown" x-data="{open: false}" @click="open = !open" title="{% trans 'Companies' %}">
    <div class="oh-navbar__action-icons">
        <a href="#" class="oh-navbar__action-icons-link">
            <ion-icon name="business"></ion-icon>
        </a>
        <div class="oh-dropdown__menu oh-dropdown__menu--right" x-show="open"
            @click.outside="open = false" style="display:none; margin-top:115%;">
            <ul class="oh-dropdown__items">
                {% for company in all_companies %}
                    {% if company.1 == 'tringapps' %}
                        <li class="oh-dropdown__item">
                            <a hx-get="{% url 'update-selected-company' %}?company_id={{company.0}}&next={{ request.path }}" class="oh-dropdown__link">
                                <img src="{{company.2}}" class="oh-dropdown__lang-icon" style="border-radius: 50%;" />
                                {{company.1}}
                                <ion-icon name="checkmark-circle-outline" style="position: relative; top: 3.3px; color: green; font-size: 1.2em;"></ion-icon>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
